node_modules
npm-debug.log
.git
.env.local
.env.*.local
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests/
.phpunit.result.cache
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
vendor/bin
vendor/phpstan
vendor/phpunit
vendor/composer
